---
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Sarim | Freelance web Dev';
---

<Layout title={pageTitle}>
  <main>
    <Navbar />
    <Hero />
  </main>
</Layout>
