---
import './styles/global.css';

import HeroSection from '../components/HeroSection.astro';
import Navbar from '../components/ui/Navbar.astro';
import SpecializeSection from '../components/SpecializeSection.astro';
import Work from '../components/Work.astro';
import Services from '../components/Services.astro';
import AboutMe from '../components/AboutMe.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="h-[75dvh]">
      <Navbar />
      <HeroSection />
    </div>
    <SpecializeSection />
    <Work />
    <Services />
    <AboutMe />
    <CallToAction />
    <Footer />
  </body>
</html>
