---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Hr from '../components/Hr.astro';
import Layout from '../layouts/Layout.astro';
import RecentProjects from '../components/RecentProjects.astro';

const pageTitle = 'Sarim | Freelance web Dev';
const pageDescription =
  'Freelance web developer based in Pakistan. I build fast, responsive and SEO friendly websites that are affordable and easy to manage.';
---

<Layout title={pageTitle} description={pageDescription}>
  <main>
    <Navbar />
    <Hero />
    <Hr />
    <About />
    <Hr />
    <RecentProjects />
  </main>
</Layout>
