/* use roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  @apply text-center leading-tight text-[6rem];
}

h2 {
  @apply m-auto text-center text-7xl;
}

h3 {
  @apply text-4xl;
}

p {
  @apply text-lg;
}

.center {
  display: grid;
  place-items: center;
}
