<div class="about w-3/6 m-auto">
  <h1 class="text-h1 font-bold text-center">About Me</h1>
  <p class="py-3">
    Hey, my name is <b>Sarim Hasan</b>. I am a freelance web developer and
    designer from Pakistan. I love to build responsive and good-looking frontend
    websites for myself as well as my clients.
  </p>

  <p class="py-3">
    I have been learning web development for the past 3 years and building
    personal projects, you can check them out on my <span
      class="tooltip bg-primary"
    >
      <a href="https://github.com/sarimhasan" target="_blank">Github</a>
      <span class="tooltiptext">visit github</span>
    </span>. Now I feel like I have learned enough and I can help
    people/businesses grow by just not having a beautiful but a user-friendly
    website
  </p>

  <p class="py-3">
    My main focus is on building websites with <b
      >HTML, CSS, JavaScript, and React</b
    >. I also have experience with backend technologies like <b
      >Node.js, Express, and MongoDB</b
    >. I have also worked with frameworks like <b>Astro and Next.js</b> to build
    my personal website. You can check my <span class="tooltip bg-primary">
      <a href="">recent projects</a>
      <span class="tooltiptext">go down</span>
    </span>
  </p>

  <p class="py-3">
    When I am not coding, I love to play video games, watch movies, and listen
    to music. I also love to read books and learn new things. I am also a big
    fan of Cricket and I obviuosly support my country's team
  </p>
</div>

<style>
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #efbc9b;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    bottom: 120%;
    left: 50%;
    margin-left: -60px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>
