---
import Button from './ui/Button.astro';
---

<div class="bg-dark">
  <div class="max-w-6xl m-auto text-center py-10">
    <h2 class="text-light max-w-4xl">
      Let's Create Something Amazing Together!!
    </h2>

    <div class="my-8">
      <button class="bg-light px-10 py-2 rounded-full text-light text-[20px]">
        <a class="text-dark text-2xl"><slot />I'm ready</a>
      </button>
    </div>
  </div>
</div>
