---
import { Image } from 'astro:assets';
import logo from '../assets/Logo.png';

const year = new Date().getFullYear();
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<footer class="bg-accent">
  <div class="max-w-[1200px] mx-auto px-10 md:px-24 py-4">
    <div class="flex flex-col md:flex-row gap-5 justify-between">
      <div>
        <Image src={logo} alt={'Logo for my website'} class="w-10 mb-2" />
        <p>This is my personal portfolio website built with astro and react</p>
        <p>For the code, you can visit my github</p>
      </div>

      <!-- social links -->
      <div>
        <h3 class="text-xl font-bold">Connect with me:</h3>
        <ul>
          <li>
            <a href="https://github.com/sarimhasan"
              ><i class="fa-brands fa-github mr-1"></i>Github</a
            >
          </li>
          <li>
            <a href="x.com"
              ><i class="fa-brands fa-linkedin mr-1"></i>LinkedIn</a
            >
          </li>
          <li>
            <a href="https://x.com/@sarim_hsan"
              ><i class="fa-brands fa-x-twitter mr-1"></i>Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center py-4">
      <p>Copyright &copy; {year} Sarim Hasan. All rights reserved</p>
    </div>
  </div>
</footer>
