---
import Button from '../components/ui/Button.astro';
---

<div>
  <h1>Sarim Hasan is a freelance Designer and an Astro Web Developer</h1>
  <Button color="dark">
    <a href="#">Hire Me</a>
  </Button>
</div>
