<div class="hero-wrapper bg-accent">
  <div
    class="hero max-w-[1440px] m-auto md:flex-row flex flex-col justify-center md:px-[80px] px-[15px] pt-10 gap-5 md:gap-[10rem]"
  >
    <div class="content my-auto py-3">
      <p>Hi, my name is</p>
      <h1 class="text-h1 font-bold leading-[4rem]">Sarim Hasan</h1>
      <p>Freelance web developer and designer in Pakistan</p>
      <button
        class="mt-5 md:px-8 md:py-4 w-full py-[10px] bg-primary border-text border-2"
        >Get in touch</button
      >
    </div>

    <div class="img">
      <img src="hero.png" alt="sarim's pic" class="w-[500px]" />
    </div>
  </div>
</div>

<style>
  button {
    transition: all 0.2s;
  }
  button:hover {
    box-shadow: 6px 6px 0px 0px #0f0f0f70;
  }
</style>
