<div class="py-24 bg-dark text-light">
  <div id="typed-strings">
    <p>Beautiful</p>
    <p>Interactive</p>
    <p>SEO Friendly</p>
  </div>
  <h2 class="w-[60rem] m-auto text-center leading-[1.2] text-[90px]">
    Specializing in Creating <strong id="typed" class="underline"></strong>
  </h2>
  <h2 class="w-[70rem] m-auto text-center leading-[1.2] text-[90px]">
    Websites
  </h2>

  <script>
    import Typed from 'typed.js';
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 50,
      backSpeed: 50,
      backDelay: 1000,
      loop: true,
    });
  </script>
</div>
