---
import { Image } from 'astro:assets';
import Button from './Button.astro';

export interface Props {
  title: string;
  description: string;
  imgAddress: string;
  imgAlt: string;
}

const { title, description, imgAddress, imgAlt } = Astro.props;
---

<div
  class="flex flex-col gap-4 text-center bg-dark text-light p-10 rounded-[3rem] my-5"
>
  <h3>{title}</h3>
  <p>{description}</p>
  <Image
    class="img"
    src=`/images/${imgAddress}.png`
    alt={imgAlt}
    width={2000}
    height={1}
    quality={'low'}
    loading={'lazy'}
    decoding={'async'}
  />
  <Button color="light" href="#">View Case</Button>
</div>

<style>
  .img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    font-style: italic;

    border-radius: 20px;
  }
</style>
